

<div>Hello {{name}},</div>
    <br>
    <div>Thank you for signing up with eCardExpress.</div>
    <br>
    <div>To verify your email address, please enter verification code in your phone.</div>
    <br>
    <div>Your verification code is <strong>{{token}}</strong>.</div>
    <br>
    <div>If you didn't create this account, just ignore this message.</div>
    <br>
    <div>Thanks! </div>
    <div>eCardExpress team</div>